@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background: #1a1a1a; */
  font-family: "PT Sans", sans-serif;

}

.sidebar{
    position: fixed;
    width: 250px;
    top:0;
    left: 0;
    bottom: 0;
    background: #111;
    padding-top: 50px;
}

li {
    list-style: none;
}

.sidebar h1{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 15rem;
    font-size: 25px;
    text-transform: uppercase;
}
h1 {
    text-decoration: solid;
}
.sidebar a{
    display: block;
    padding: 10px 20px;
    color: #bbb;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
}

.sidebar a:hover{
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}

.parent {
    background-image: url('pf_bg.jpg');
    display: flex;
    min-height: 100vh;
}

#roles {
    flex: 9;
    color: white;
    margin-left: 32rem;
    -ms-transform: rotate(-20deg); /* IE 9 */
    transform: rotate(-20deg);
}
.big-text {
    
    font-weight: 100;
    font-size: 28px;
    color: #fafafa;
    margin-top: 3rem;
}

.dud {
    color: #757575;
}

.all-pages {
    margin-left: 250px;
    color: black;
    min-height: 100vh;
}

#about {
    min-height: 100vh;
}

.about-info {
    /* background-color: bisque; */
    margin-left: 15rem;
    margin-right: 17rem;
    display: flex;
    margin-top: 2rem;
}

.my-image{
    flex: 4;
    display: flex;
    justify-content: center;
}

.my-image img{
    width: 25rem;
    height: 25rem;
}

.about-text {
    /* background-color: red; */
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

.about-text p{
    size: 5rem;
}


.my-details {
    flex: 6;
}

.my-details h3{
    text-align: center;
}

.my-details p{
    margin-left: 3rem;
}


.total-details {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.left-details {
    flex: 1;
}
.left-details li {
    margin-top: 2rem;
}
.right-details {
    flex: 1;
}
.right-details li {
    margin-top: 2rem;
}

.icofont-rounded-right{
    width: 1rem;
    height: 1rem;
    color: black;
}

.about-final-text {
    /* padding-top: 1rem;
    margin-left: 1rem; */
}

/* skill section */
.skills {
    background-color: rgb(201, 209, 245);
    margin-top: 3rem;
    min-height: 50vh;
}

.skill-text {
    margin-left: 15rem;
    padding-top: 2rem;
    margin-right: 15rem;
}

.skill-text h3 {
    font-size: 1.8rem;
}

.skill-text p {
    font-size: 1.1rem;
    padding-top: 1.8rem;
}

.skill-section {
    display: flex;
    align-items: center;
}

.left-skill-container {
    flex: 1;
}

.right-skill-container {
    flex: 1;
}
.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 300px;
  margin-top: 3rem;
  margin-left: 15rem;
  list-style: none;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: black;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-angular {
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.progressred {
  background-color: #1199ff;
}

.progressblue {
  background-color: #1199ff;
}

.progresspurple {
  background-color: #1199ff;
}

.progressorange {
  background-color: #1199ff;
}

.progressgreen {
  background-color: #1199ff;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-webkit-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

/* skill section ends */
